In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
hk_news = pd.read_csv("Datasets/hacker_news.csv")

In [3]:
hk_news.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53,22,Deinos,10/31/2015 9:48

In [4]:
title = hk_news["title"]

In [5]:
pattern = r"([Pp]ython)"

title[title.str.contains(pattern)]
title.str.extract(pattern).iloc[436]

C:\Users\Daniyal Gohar\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

0    Python
Name: 436, dtype: object

In [6]:
import re

python = 0

for i in title:
    if re.search(pattern, i):
        python += 1

In [7]:
python

160

In [8]:
re.search("qas","Waqas")

In [9]:
# email, e-mail, e mail

pattern = "e-?\s?mail"

title[title.str.contains(pattern)].head(2)

119    Show HN: Send an email from your shell to your...
313        Disposable emails for safe spam free shopping
Name: title, dtype: object

In [10]:

pattern = "e[-\s]?mail"

title[title.str.contains(pattern)].head(2)

119    Show HN: Send an email from your shell to your...
313        Disposable emails for safe spam free shopping
Name: title, dtype: object

* a{3} character "a" three times
* a{,3} character "a" could be 0,1,2,3
* a{3,} character "a" could be 3 onward
* a{3,5} character "a" could be 3,4,5

- \* means 0 onward
- \+ means 1 onward

* \w [A_Za-z0-9_]
* \d [0-9]
* \s whitespace, newline, tab
* . all charater except newline

In [11]:
# [PDF], [German] [Beta]

pattern = r"\[\w+\]"
title[title.str.contains(pattern)].head()

66     Analysis of 114 propaganda sources from ISIS, ...
100    Munich Gunman Got Weapon from the Darknet [Ger...
159         File indexing and searching for Plan 9 [pdf]
162    Attack on Kunduz Trauma Centre, Afghanistan  I...
195               [Beta] Speedtest.net  HTML5 Speed Test
Name: title, dtype: object

In [12]:
pattern = r"\[.+\]"
title[title.str.contains(pattern)].head()

66     Analysis of 114 propaganda sources from ISIS, ...
100    Munich Gunman Got Weapon from the Darknet [Ger...
159         File indexing and searching for Plan 9 [pdf]
162    Attack on Kunduz Trauma Centre, Afghanistan  I...
195               [Beta] Speedtest.net  HTML5 Speed Test
Name: title, dtype: object

In [13]:
pattern = r"[Jj]ava[^Ss]"
title[title.str.contains(pattern)]

436      Unikernel Power Comes to Java, Node.js, Go, an...
811      Ask HN: Are there any projects or compilers wh...
1840                     Adopting RxJava on the Airbnb App
1972           Node.js vs. Java: Which Is Faster for APIs?
2093                     Java EE and Microservices in 2016
2367     Code that is valid in both PHP and Java, and p...
2493     Ask HN: I've been a java dev for a couple of y...
2751                 Eventsourcing for Java 0.4.0 released
2910                 2016 JavaOne Intel Keynote  32mn Talk
3452     What are the Differences Between Java Platform...
4273      Ask HN: Is Bloch's Effective Java Still Current?
4624     Oracle Discloses Critical Java Vulnerability i...
5461                        Lambdas (in Java 8) Screencast
5847     IntelliJ IDEA and the whole IntelliJ platform ...
5947                                        JavaFX is dead
6268             Oracle deprecating Java applets in Java 9
7436     Forget Guava: 5 Google Libraries Java Develope...
7481     Ask HN: Beside Java what languages have a stro...
8100        Advantages of Functional Programming in Java 8
8135     Show HN: Rogue AI Dungeon, javacript bot scrip...
8447                  Show HN: Java multicore intelligence
8487     Why IntelliJ IDEA is hailed as the most friend...
8984     Ask HN: Should Learn/switch to JavaScript Prog...
8987     Last-khajiit/vkb: Java bot for vk.com competit...
10529             Angular 2 coming to Java, Python and PHP
11454    Ask HN: Java or .NET for a new big enterprise ...
11902                         The Java Deserialization Bug
12382          Ask HN: Why does Java continue to dominate?
12582    Java Memory Model Examples: Good, Bad and Ugly...
12711    Oracle seeks $9.3B for Googles use of Java in ...
13048        A high performance caching library for Java 8
13105    Show HN: Backblaze-b2 is a simple java library...
13150             Java Tops TIOBE's Popular-Languages List
13170    Show HN: Tablesaw: A Java data-frame for 500M-...
13272      Java StringBuffer and StringBuilder performance
13620    1M Java questions have now been asked on Stack...
13839        Ask HN: Hosting a Java Spring web application
13843                                 Var and val in Java?
13844               Answerz.com  Java and J2ee Programming
13930     Java 8s new Optional type doesn't solve anything
13934    Java 6 vs. Java 7 vs. Java 8 between 2013  201...
15257                       Oracle and the fall of Java EE
15868                 Java generics never cease to impress
16023    Will you use ReactJS with a REST service inste...
16932       Swift versus Java: the bitset performance test
16948          Show HN: Bt  0-hassle BitTorrent for Java 8
17579                Java Lazy Streamed Zip Implementation
18407    Show HN: Scala idioms in Java: cases, patterns...
19481    Show HN: Adding List Comprehension in Java - E...
19735          Java Named Top Programming Language of 2015
Name: title, dtype: object

In [14]:
# e mail, EMAIL, E Mail, e-mail, email, E-Mail

In [15]:
df = pd.DataFrame({"email_column":["e mail", "EMAIL", "E Mail", "e-mail", "email", "E-Mail","EMail","EASD", " EMaawil"]})
df

  email_column
0       e mail
1        EMAIL
2       E Mail
3       e-mail
4        email
5       E-Mail
6        EMail
7         EASD
8      EMaawil

In [16]:
pattern = r"[Ee]\s*-*[Mm][Aa][Ii][Ll]"
df[df["email_column"].str.contains(pattern)]

  email_column
0       e mail
1        EMAIL
2       E Mail
3       e-mail
4        email
5       E-Mail
6        EMail

In [17]:
pattern = r"([Ee]\s*-*[Mm][Aa][Ii][Ll])"
title[title.str.contains(pattern)].head()

C:\Users\Daniyal Gohar\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

119    Show HN: Send an email from your shell to your...
161    Computer Specialist Who Deleted Clinton Emails...
174                                      Email Apps Suck
261    Emails Show Unqualified Clinton Foundation Don...
313        Disposable emails for safe spam free shopping
Name: title, dtype: object

In [25]:
pattern = r"([Ee]\s*-*[Mm][Aa][Ii][Ll])"
title.str.extractall(pattern)

                  0
      match
119   0       email
161   0       Email
174   0       Email
261   0       Email
313   0       email
332   0       Email
450   0      e Mail
1361  0       email
1750  0       email
1774  0       Email
1900  0       Email
1956  0       Email
2018  0       Email
2421  0       email
2685  0       email
3181  0       Email
3379  0       email
3561  0       Email
3602  0       Email
3820  0       Email
3865  0       email
3889  0       email
3921  0       email
3967  0       Email
4202  0       Email
4219  0       email
4318  0       email
4322  0       Email
      1       email
      2       email
...             ...
15607 0       Email
15682 0       email
15735 0       Email
15738 0       Email
15846 0       Email
15913 0       Email
16056 0       Email
16131 0      E-Mail
16152 0       email
16508 0       email
16794 0       email
17004 0       EMAIL
      1       email
17060 0       Email
17214 0       Email
17374 0       Email
17415 0       email
17440 0       Email
17826 0       Email
17924 0       email
17926 0       Email
18098 0       email
18583 0       email
18847 0       email
19303 0       email
      1       email
19395 0       Email
19446 0       email
19838 0      e Mail
19905 0       Email

[163 rows x 1 columns]

In [20]:
pattern = r"^\[\w+\]"
title[title.str.contains(pattern)].head()

195                [Beta] Speedtest.net  HTML5 Speed Test
398        [video] Google Self-Driving SUV Sideswipes Bus
3136                          [CSS] Yellow Fade Technique
5054    [React] proptypes-parser: Define React PropTyp...
9389    [Petition] Tell Microsoft to stop making browsers
Name: title, dtype: object

In [22]:
pattern = r"\[\w+\]$"
title[title.str.contains(pattern)].head()

66     Analysis of 114 propaganda sources from ISIS, ...
100    Munich Gunman Got Weapon from the Darknet [Ger...
159         File indexing and searching for Plan 9 [pdf]
162    Attack on Kunduz Trauma Centre, Afghanistan  I...
210    A plan to rescue western democracy from the ig...
Name: title, dtype: object

In [39]:
pd.options.display.max_rows = 30000
pattern = r"(\[\w+\]$)"
tag = title[title.str.contains(pattern)].str.extract(pattern)
tag.head()

C:\Users\Daniyal Gohar\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

            0
66      [pdf]
100  [German]
159     [pdf]
162     [pdf]
210  [satire]

In [42]:
# Mysql, Nosql
import re

pattern = r"(\w+sql)"
tag = title[title.str.contains(pattern, flags = re.I)].str.extract(pattern, flags = re.I)
tag.head()

C:\Users\Daniyal Gohar\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

               0
142   PostgreSQL
221       MemSQL
882   PostgreSQL
1160       NoSQL
1197  PostgreSQL

In [43]:
# Mysql, Nosql
import re

pattern = r"(\w+sql)"
tag = title[title.str.contains(pattern, flags = re.I)].str.extract(pattern, flags = re.I)
tag.head()

C:\Users\Daniyal Gohar\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

               0
142   PostgreSQL
221       MemSQL
882   PostgreSQL
1160       NoSQL
1197  PostgreSQL

In [58]:
# Mysql, Nosql
import re

pattern = r"[Pp]ython\s([0-9].[0-9])"
tag = title[title.str.contains(pattern, flags = re.I)].str.extract(pattern, flags = re.I)
tag.head()

C:\Users\Daniyal Gohar\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

        0
3720  3.5
5468  3.6
6163  3.5
6282  2.7
6668  3.5